<%= form_for(@maquina) do |f| %>
  <% if @maquina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maquina.errors.count, "error") %> prohibited this maquina from being saved:</h2>

      <ul>
      <% @maquina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hostname %><br>
    <%= f.text_field :hostname %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :mac %><br>
    <%= f.text_field :mac %>
  </div>
  <div class="field">
    <%= f.label :sistema_operacional %><br>
    <%= f.text_field :sistema_operacional %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br>
    <%= f.text_field :observacao %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
