<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :rg %><br>
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :gestor %><br>
    <%= f.text_field :gestor %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :nissan_id %><br>
    <%= f.text_field :nissan_id %>
  </div>
  <div class="field">
    <%= f.label :renault_id %><br>
    <%= f.text_field :renault_id %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :gestor %><br>
    <%= f.text_field :gestor %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br>
    <%= f.date_select :data_nascimento %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :nome_empresa %><br>
    <%= f.text_field :nome_empresa %>
  </div>
  <div class="field">
    <%= f.label :qcn %><br>
    <%= f.text_field :qcn %>
  </div>
  <div class="field">
    <%= f.label :setor %><br>
    <%= f.text_field :setor %>
  </div>
  <div class="field">
    <%= f.label :funcao %><br>
    <%= f.text_field :funcao %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
