<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @usuario.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @usuario.rg %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Gestor:</strong>
  <%= @usuario.gestor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Nissan:</strong>
  <%= @usuario.nissan_id %>
</p>

<p>
  <strong>Renault:</strong>
  <%= @usuario.renault_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @usuario.site %>
</p>

<p>
  <strong>Gestor:</strong>
  <%= @usuario.gestor %>
</p>

<p>
  <strong>Site:</strong>
  <%= @usuario.site %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @usuario.data_nascimento %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @usuario.tipo %>
</p>

<p>
  <strong>Nome empresa:</strong>
  <%= @usuario.nome_empresa %>
</p>

<p>
  <strong>Qcn:</strong>
  <%= @usuario.qcn %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @usuario.setor %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @usuario.funcao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @usuario.status %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
